### Question 1: Iterate over a list using a for loop to print each item squared.
Hint: Use a for loop directly on the list and print the square of each item inside the loop.

In [1]:
list=[1,2,3,4,5,6,23,445,24,234,24,34]
for i in range(len(list)):
    print(list[i]**2)

1
4
9
16
25
36
529
198025
576
54756
576
1156

### Question 2: Use a for loop to print numbers from 10 down to 1.
Hint: Use the range() function with appropriate start, stop, and step arguments to count backwards.

In [4]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### Question 3: Write a for loop that iterates over a string and prints the index of each character alongside the character.
Hint: Use the enumerate() function to get both the index and the character in the loop.

In [9]:
name="kuldeep"
for i in name:
    print(i,enumerate(i))

k <enumerate object at 0x000001F624A8FD30>
u <enumerate object at 0x000001F624A8FD30>
l <enumerate object at 0x000001F624A8FD30>
d <enumerate object at 0x000001F624A8FD30>
e <enumerate object at 0x000001F624A8FD30>
e <enumerate object at 0x000001F624A8FD30>
p <enumerate object at 0x000001F624A8FD30>

### Question 4: Use a for loop to concatenate all the elements in a list into a single string.
Hint: Initialize an empty string before the loop, then concatenate each list item to this string within the loop.

In [10]:
name=""
list=["k","u","l","d","e","e","p"]
for i in range(len(list)):
    name=name+list[i]
    print(name)
print(name)

k
ku
kul
kuld
kulde
kuldee
kuldeep
kuldeep

### Question 5: Iterate over a dictionary and print only the values that are even.
Hint: Use a for loop with the .values() method on the dictionary, and an if statement to check for evenness.

In [14]:
dic={"roll_no":{1,2,3,4,5,6,7,8,9,10},"name":{"kuldeep","ankit","ayush","sandeep","mihir","brijraj","sriyansh","ram","ayushman","krishana"},"marks":{12,23,23,23,24,15,16,5,759,3}}

In [24]:
for i in range(len(dic)):
    if i%2==0:
        print(dic.values())

dict_values([{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {'ayush', 'ram', 'ankit', 'sandeep', 'krishana', 'kuldeep', 'ayushman', 'brijraj', 'sriyansh', 'mihir'}, {3, 5, 12, 15, 16, 23, 759, 24}])
dict_values([{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {'ayush', 'ram', 'ankit', 'sandeep', 'krishana', 'kuldeep', 'ayushman', 'brijraj', 'sriyansh', 'mihir'}, {3, 5, 12, 15, 16, 23, 759, 24}])

### Question 6: Write a for loop to create a list of the first 10 Fibonacci numbers.
Hint: Initialize a list with the first two Fibonacci numbers, then use a loop to calculate and append the next numbers.

In [31]:
fibo=[0,1]
for i in range(2,11):
    next_fibo=fibo[-1]+fibo[-2]
    fibo.append(next_fibo)
print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### Question 7: Use a for loop over a list of numbers to print out each number multiplied by itself, but only if the number is greater than 5.
Hint: Combine a for loop with an if statement to check the number before printing its square

In [33]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in range(len(list)):
    if i>5:
        print(list[i]*list[i])

49
64
81
100
121
144
169
196
225

### Question 8: Iterate over a list of words and print each word on a new line, but in uppercase.
Hint: Use the .upper() method on each word within a for loop to print it in uppercase.

In [39]:
list=['ayush', 'ram', 'ankit', 'sandeep', 'krishana', 'kuldeep', 'ayushman', 'brijraj', 'sriyansh', 'mihir']
for i in range(len(list)):
    print(list[i].upper())

AYUSH
RAM
ANKIT
SANDEEP
KRISHANA
KULDEEP
AYUSHMAN
BRIJRAJ
SRIYANSH
MIHIR

### Question 9: Write a for loop that iterates over two lists simultaneously to print items from each list side by side.
Hint: Use the zip() function to pair items from the two lists in the loop.

In [44]:
list=['ayush', 'ram', 'ankit', 'sandeep', 'krishana', 'kuldeep', 'ayushman', 'brijraj', 'sriyansh', 'mihir']
list1=['ayush', 'ram', 'ankit', 'sandeep', 'krishana', 'kuldeep', 'ayushman', 'brijraj', 'sriyansh', 'mihir']
for i in range(len(list)):
    print(zip(list[i]),zip(list1[i]))

<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>
<zip object at 0x000001F6257E2F00> <zip object at 0x000001F624B2DBC0>

### Question 10: Create a nested for loop to print a 5x5 matrix of asterisks ('*').
Hint: Use two for loops, one nested within the other, with range(5) to print a 5x5 grid of asterisks.

In [54]:
for i in range(6):
    for j in range(6):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *