### Question 1: Variable Declaration
Declare a variable named days_in_week and assign it the number of days in a week. Print the variable.

In [2]:
days_in_week=7
print(days_in_week)

7

### Question 2: Arithmetic Operations
Given two variables a = 15 and b = 4, calculate and print their sum, difference, product, and quotient

In [3]:
a=15 
b=4
print('sum :',a+b)
print('difference :',a-b)
print('product',a*b)
print('quotient',a/b)

sum : 19
difference : 11
product 60
quotient 3.75

### Question 3: Type Conversion
Convert the string "123" to an integer and assign it to a variable named number. Print the type of number to confirm the conversion.

In [5]:
string="123"
number=int(string)
print(type(number))

<class 'int'>

### Question 4: String Concatenation
Concatenate the following two strings: first_name and last_name into a full name and print the result. Assume the variables have already been defined.

In [23]:
first_name='Kuldeep'
last_name='verma'
full_name="{first_name}  {last_name}".format(first_name=first_name,last_name=last_name)
print(full_name)

Kuldeep  verma

### Question 5: Updating Variables
Start with the variable score = 0. Add 5 to score, then multiply score by 3, and subtract 2. Print the final score.

In [26]:
score=0
score+=5
score*=3
score-=2
print(score)

13

### Question 6: Boolean Variables
Create a boolean variable is_sunny to represent if the weather is sunny or not. Set it to True if it is sunny and False otherwise. Print the variable.

In [28]:
is_sunny=True
is_not_sunny=False
print(is_sunny)
print(is_not_sunny)

True
False

### Question 7: Variable Names
Which of the following is an invalid variable name in Python? Why?
•	a) python3
•	b) 3_python
•	c) _user_name
•	d) user-name

###### b is invalid variable should not start with number

###  Question 8: Swapping Values
Swap the values of two variables x and y. If initially x = 10 and y = 5, ensure x becomes 5 and y becomes 10. Print the swapped values.

In [40]:
x=10
y=5
z=x
x=y
y=z

print(x)
print(y)

5
10

### Question 9: User Input
Write a program that asks the user for their name and their age. Print a message greeting them and mentioning how old they are.

In [43]:
name=input("enter name :")
age=int(input("enter age:"))
print("name:" ,name)
print("age :",age)

enter name : kuldeep verma
enter age: 22

name: kuldeep verma
age : 22

### Question 10: Dynamic Typing
Create a variable data and assign it an integer value. Then, reassign data to a string. Print the type of data before and after the reassignment.

In [44]:
data=10
print(type(data))
data="10"
print(type(data))

<class 'int'>
<class 'str'>